<div class="logos">
  <div class="logo_items">
        <!-- Set 1 -->
        <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
        <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
        <img src="assets/typescript-svgrepo-com.svg" alt="TS">
        <img src="assets/language-c.svg" alt="C">
        <img src="assets/html5-2.svg" alt="HTML">
        <img src="assets/css.svg" alt="CSS">
        <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">

        <!-- Duplicate set for seamless loop -->
        <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
        <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
        <img src="assets/typescript-svgrepo-com.svg" alt="TS">
        <img src="assets/language-c.svg" alt="C">
        <img src="assets/html5-2.svg" alt="HTML">
        <img src="assets/css.svg" alt="CSS">
        <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">
  </div>
    <div class="logo_items">
      <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
      <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
      <img src="assets/typescript-svgrepo-com.svg" alt="TS">
      <img src="assets/language-c.svg" alt="C">
      <img src="assets/html5-2.svg" alt="HTML">
      <img src="assets/css.svg" alt="CSS">
      <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">

      <!-- Duplicate set for seamless loop -->
      <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
      <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
      <img src="assets/typescript-svgrepo-com.svg" alt="TS">
      <img src="assets/language-c.svg" alt="C">
      <img src="assets/html5-2.svg" alt="HTML">
      <img src="assets/css.svg" alt="CSS">
      <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">
    </div>
    <div class="logo_items">
      <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
      <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
      <img src="assets/typescript-svgrepo-com.svg" alt="TS">
      <img src="assets/language-c.svg" alt="C">
      <img src="assets/html5-2.svg" alt="HTML">
      <img src="assets/css.svg" alt="CSS">
      <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">

      <!-- Duplicate set for seamless loop -->
      <img src="assets/Python_icon_(black_and_white).svg" alt="Python">
      <img src="assets/c-plus-plus-svgrepo-com.svg" alt="C++">
      <img src="assets/typescript-svgrepo-com.svg" alt="TS">
      <img src="assets/language-c.svg" alt="C">
      <img src="assets/html5-2.svg" alt="HTML">
      <img src="assets/css.svg" alt="CSS">
      <img src="assets/haskell_logo_icon_145201.svg" alt="Haskell">
    </div>
  </div>

