<body>
  <div class="profile-page">
    <nav>
      <div class="nav-items">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        <!-- <a routerLink="/profile" routerLinkActive="active">Profile</a> -->
      </div>
    </nav>

    <div class="middle">
      <img class="profile-pic" src="assets/ann_pp.jpg" alt="Profile Image">
    </div>

    <app-descriptor></app-descriptor>
    <app-carousel></app-carousel>

    <div class="bottom">
      <div class="intro"> Hi, I'm Ann!</div>

      <div class="about-me-section">
        <div class="about-description">
          <h1>About</h1>
          <p>
            I'm a third year studying Computer Science with a minor in Statistics and an emphasis in AI/ML at University of California, Santa Cruz. Currently, I am one of few undergraduate instructors across all UC Schools as I teach CMPM 17 Section 4: Intro to Front End Web Development. I love creating dynamic and interactive web applications using technologies like HTML, CSS, JavaScript, and Angular.
          </p>
        </div>

        <div class="divider"></div>

        <div class="tools-Technologies">
          <h1>Tools and Technologies</h1>
          <ul>
            <li><strong>Frontend Development:</strong> Figma, Angular, RxJS, WordPress</li>
            <li><strong>Backend Development:</strong> NodeJS, Firebase, Git</li>
            <li><strong>Data Science and Machine Learning:</strong> NumPy, Pandas, Matplotlib, SciPy, TensorFlow, OpenCV</li>
            <li><strong>Software Development:</strong> Tkinter, PyGame</li>
            <li><strong>Productivity Tools:</strong> Excel</li>
          </ul>

        </div>
      </div>
    </div>
      <div class="about">
        <div class="experience-section">
          <h1>Experience</h1>
          <div class="experience-item">
            <h2>Baskin School of Engineering, UC Santa Cruz</h2>
            <h3>Undergraduate Instructor | CMPM17: Intro to Web Development</h3>
            <p><strong>Fall 2024</strong></p>
            <ul>
              <li>Selected as one of the few undergraduate instructors across all UC campuses, a role typically reserved for graduate-level educators.</li>
              <li>Lecturing and instructing labs covering front-end web development, including HTML/CSS, JavaScript, TypeScript, and advanced frameworks like Angular to ready students for development in research settings.</li>
              <li>Created an accelerated 10-week curriculum focused on front-end technologies, integrating best practices in responsive design, state management, and component-based architecture.</li>
              <li>Provided individualized assistance and lessons during weekly office hours.</li>
            </ul>
          </div>

          <div class="experience-item">
            <h2>Tech 4 Good Lab, Santa Cruz, CA</h2>
            <h3>Web Development Team Lead</h3>
            <p><strong>Sept. 2023 – March 2024</strong></p>
            <ul>
              <li>Led a team of 10 web dev research interns to create two experimental learning platforms under Professor David Lee, employing SCRUM methodologies for project management.</li>
              <li>Developed, deployed, and oversaw the production of fully functional and interactive web components from Figma designs, utilizing Angular.</li>
              <li>Containerized web pages utilizing Angular and RxJS and managed Firebase data storage and retrieval.</li>
              <li>Documented user feedback to relay to lab executives and altered the development roadmap based on stakeholder desires.</li>
            </ul>
          </div>

          <div class="experience-item">
            <h2>Rising Youth Association, CA</h2>
            <h3>Chapter Director</h3>
            <p><strong>June 2019 – June 2022</strong></p>
            <ul>
              <li>Oversaw the non-profit’s Bay Area chapter, streamlining leadership roles to produce more efficient results in supporting the community’s youth academically and socially.</li>
              <li>Managed and monitored partnerships with external organizations including elementary schools, social service organizations, and other non-profits.</li>
              <li>Recognized the educational gap in low-income youth during the COVID-19 pandemic and partnered with a local Title I elementary school to provide support.</li>
              <li>Designed and executed a virtual education platform connecting over 100 students to tutors.</li>
            </ul>
          </div>
        </div>

        </div>
