.descriptor {
  text-align: center; // Center align text and icons
  margin: 20px 0; // Add some space above and below

  .social-icons {
    display: flex; // Enable flexbox layout
    justify-content: center; // Center align icons horizontally
    align-items: center; // Center align icons vertically
    margin-top: 10px; // Space between name and icons

    .icon {
      width: 30px; // Set a specific width for the icons
      height: 30px; // Set a specific height for the icons
      margin: 0 10px; // Space between icons
      transition: transform 0.3s; // Smooth transition for hover effect

      &:hover {
        transform: scale(1.1); // Slightly enlarge on hover
      }
    }
  }
}
