<body>
  <div class="descriptor">
    <h1>Ann Sasi</h1>
    <div class="social-icons">
      <a href="mailto:annmsasi@gmail.com" title="Email">
        <img class="icon" src="assets/email-svgrepo-com.svg" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/ann-sasi/" title="LinkedIn">
        <img class="icon" src="assets/LinkedIn-Icon-Black-Logo.wine.svg" alt="LinkedIn">
      </a>
      <a href="assets/Ann_Sasi_SWE_Intern_resume (10).pdf" title="Resume" target="_blank">
        <img class="icon" src="assets/cv-square.svg" alt="Resume">
      </a>
      <a href="https://github.com/annmsasi" title="GitHub">
        <img class="icon" src="assets/Octicons-mark-github.svg" alt="GitHub">
      </a>
    </div>
  </div>
</body>
